@media screen and (max-width: 320px) {
    .header-mobile {
        display: flex;
    }

    .menu, .menu2 {
        display: none;
    }

    .header{
        justify-content: space-between;
    }

    .menu-mobile-icon {
        width: 30px;
        height: 30px;
    }

    .menu-item-text {
        font-size: 1rem;
    }

    .logo-title {
        padding: 0 0px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .header-mobile {
        display: flex;
    }

    .menu, .menu2 {
        display: none;
    }

    .header{
        justify-content: space-between;
    }

    .menu-mobile-icon {
        width: 30px;
        height: 30px;
    }

    .menu-item-text {
        font-size: 1.2rem;
    }

    .logo-title {
        padding: 0 0px;
    }
}

@media screen and (min-width: 769px) {
    .language {
        position: absolute;
        right: 20px;
    }
}

@media screen and (min-width: 2000px){
    .menu-item-text {
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 2300px) {
    .menu-item-text {
        font-size: 1.9rem;
    }
}