@media screen and (max-width: 1440px) {
    .sections {
        flex-direction: column;
        padding: 0;
        margin: 0px 5px;
        gap: 40px;
    }

    .section {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .section-header {
        padding: 5px 15px;
        gap: 25px;
    }

    .icon-quiz {
        width: 28px;
        height: 28px;
    }

    .section-title {
        font-size: 24px;
    }

    .quiz-header-item-text {
        font-size: 12px;
    }

    .quiz-regras {
        margin: 0;
        gap: 15px;
        width: 100%;
    }

    .quiz-regras-title {
        font-size: 20px;
    }

    .quiz-regras-list {
        gap: 10px;
        padding: 0 8px;
    }

    .quiz-regras-item {
        font-size: 13px;
        font-weight: 500;
    }

    .quiz-regras-checkbox {
        margin-top: 0;
    }

    .quiz-regras-checkbox label{
        font-size: 13px;
    }

    .quiz-regras-checkbox input[type="checkbox"] {
        width: 14px;
        height: 14px;
    }

    .section-input {
        font-size: 12px;
    }

    .bottom-quiz {
        margin-bottom: 4px;
    }

    .pokeball-btn {
        width: 30px;
        height: 30px;
    }

    /* Busca pokémon */
    .header-busca {
        gap: 15px;
        padding: 10px;
    }

    .section-info {
        width: 12px;
        height: 12px;
    }

    .section-text {
        font-size: 12px;
        width: 100%;
    }

    .spmon-img, .gmon-img {
        width: 300px;
        height: 300px;
    }

    .spmon-infos, .gmon-infos {
        gap: 10px;
        width: 100%;
    }

    .spmon-info, .gmon-info {
        font-size: 14px;
    }

    .shiny-verif label {
        font-size: 12px;
    }

    .bottom-busca {
        gap: 2px;
    }

    .spmon-erro, .gmon-erro {
        font-size: 10px;
    }

    /* Random poke */
    .spmon-nome, .gmon-nome {
        font-size: 28px;
    }

    .gmon-pokeball {
        width: 35px;
        height: 35px;
    }

    /* Footer */
    .footer-container {
        padding: 5px;
    }

    .footer-text {
        font-size: 12px;
    }

    .footer-link {
        font-size: 13px;
    }

    .footer-social-icon {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 500px){
    .section-header {
        gap: 35px;
    }

    .icon-quiz {
        width: 32px;
        height: 32px;
    }

    .quiz-regras {
        margin: 5px 0;
    }

    .quiz-regras-title {
        font-size: 22px;
    }

    .quiz-regras-list {
        padding: 0 20px;
    }

    .quiz-regras-item {
        font-size: 15px;
    }

    .quiz-regras-checkbox label{
        font-size: 15px;
    }

    .section-input {
        font-size: 13px;
    }

    .pokeball-btn {
        width: 35px;
        height: 35px;
    }

    /* Busca pokémon */
    .section-info {
        width: 15px;
        height: 15px;
    }

    .section-text {
        font-size: 14px;
    }

    .spmon-img, .gmon-img {
        width: 350px;
        height: 350px;
    }

    .spmon-infos, .gmon-infos {
        gap: 10px;
        width: 90%;
    }

    .spmon-info, .gmon-info {
        font-size: 16px;
    }

    .shiny-verif label {
        font-size: 14px;
    }

    .spmon-erro, .gmon-erro {
        font-size: 11px;
    }

    /* Random poke */
    .gmon-pokeball {
        width: 40px;
        height: 40px;
    }

    /* Footer */
    .footer-text {
        font-size: 14px;
    }

    .footer-social-icon {
        width: 30px;
        height: 30px;
    }

}

@media screen and (min-width: 768px) {
    .section {
        width: 90%;
        margin: 0 auto;
    }
    .section-header {
        gap: 50px;
    }

    .icon-quiz {
        width: 36px;
        height: 36px;
    }

    .quiz-regras {
        margin: 10px 0;
    }

    .quiz-regras-title {
        font-size: 24px;
    }

    .quiz-regras-list {
        padding: 0;
        width: 85%;
    }

    .quiz-regras-item {
        font-size: 17px;
    }

    .quiz-regras-checkbox label{
        font-size: 17px;
    }

    .section-input {
        font-size: 14px;
    }

    .pokeball-btn {
        width: 40px;
        height: 40px;
    }

    /* Busca pokémon */
    .section-info {
        width: 17px;
        height: 17px;
    }

    .section-title {
        font-size: 28px;
    }

    .section-text {
        font-size: 15px;
    }

    .spmon-img, .gmon-img {
        width: 400px;
        height: 400px;
    }

    .spmon-infos, .gmon-infos {
        gap: 15px;
        width: 80%;
    }

    .spmon-info, .gmon-info {
        font-size: 18px;
    }

    .shiny-verif label {
        font-size: 16px;
    }

    .spmon-erro, .gmon-erro {
        font-size: 12px;
    }

    /* Random poke */
    .spmon-nome, .gmon-nome {
        font-size: 32px;
    }

    .gmon-pokeball {
        width: 45px;
        height: 45px;
    }

    /* Footer */
    .footer-text {
        font-size: 16px;
    }

    .footer-social-icon {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 1025px) {
    .section {
        width: 80%;
    }

    .section-header {
        gap: 50px;
    }

    .icon-quiz {
        width: 35px;
        height: 35px;
    }

    .quiz-regras {
        margin: 15px 0;
    }

    .quiz-regras-title {
        font-size: 26px;
    }

    .quiz-regras-list {
        width: 75%;
    }

    .quiz-regras-item {
        font-size: 19px;
    }

    .quiz-regras-checkbox label{
        font-size: 19px;
    }

    .section-input {
        font-size: 16px;
    }

    .pokeball-btn {
        width: 45px;
        height: 45px;
    }

    /* Busca pokémon */
    .section-info {
        width: 20px;
        height: 20px;
    }

    .section-title {
        font-size: 32px;
    }

    .section-text {
        font-size: 16px;
        width: 90%;
    }

    .spmon-img, .gmon-img {
        width: 450px;
        height: 450px;
    }

    .spmon-infos, .gmon-infos {
        gap: 20px;
        width: 75%;
    }

    .spmon-info, .gmon-info {
        font-size: 20px;
    }

    .shiny-verif label {
        font-size: 18px;
    }

    .spmon-erro, .gmon-erro {
        font-size: 14px;
    }

    /* Random poke */
    .spmon-nome, .gmon-nome {
        font-size: 36px;
    }

    .gmon-pokeball {
        width: 50px;
        height: 50px;
    }

    /* Footer */
    .footer-text {
        font-size: 18px;
    }

    .footer-link {
        font-size: 19px;
    }

    .footer-social-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    /* Quiz */
    .quiz-regras {
        margin: 5px 0;
    }

    .quiz-regras-list {
        width: 85%;
    }

    .quiz-regras-item {
        font-size: 18px;
    }

    .quiz-regras-checkbox {
        margin-top: 0;
    }

    .pokeball-btn {
        width: 40px;
        height: 40px;
    }

    .section-header {
        gap: 20px;
    }

    .spmon-img, .gmon-img {
        width: 280px;
        height: 280px;
    }

    /* Footer */
    .footer-container {
        padding: 10px;
    }

    .footer-social-icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (min-width: 1920px) {
    .quiz-regras {
        width: 100%;
    }
}

@media screen and (min-width: 2200px){
    .quiz-section {
        justify-content: flex-start;
        gap: 20px;
    }

    .bottom-quiz {
        margin-top: 50px;
    }

    .icon-quiz {
        width: 50px;
        height: 50px;
    }

    .gmon-img, .spmon-img {
        width: 500px;
        height: 500px;
    }

    .pokeball-btn {
        width: 55px;
        height: 55px;
    }
}