/* Sections styles */

.sections {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Quiz styles */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin-bottom: 10px;
    gap: 40px;
    background-color: #1E1E1E;
    border-radius: 0px 0px 10px 10px;
}

.quiz-header-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-quiz {
    width: 40px;
    height: 40px;
}

.section-title {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-header-item-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.quiz-regras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 70px;
    gap: 20px;
    width: 500px;
}

.quiz-regras-title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-regras-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-regras-item {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.quiz-regras-checkbox {
    margin-top: 50px;
}

.quiz-regras-checkbox label{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
}

.quiz-regras-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.section-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.section-input {
    font-size: 14px;
    padding: 0px 5px;
    border-radius: 4px;
    border: none;
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.btn-pokeball {
    background: none;
    border: none;
}

.pokeball-btn {
    width: 35px;
    height: 35px;
}

/* Busca pokémon styles */
.header-busca {
    gap: 20px;
    padding: 10px 20px;
}

.section-info {
    width: 15px;
    height: 15px;
}

.section-text {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    font-style: italic;
    width: 380px;
}

.section-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spmon-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.spmon-img {
    width: 400px;
    height: 400px;
}

.spmon-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 350px;
}

.spmon-tipo {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 40px;
    border-radius: 50px;
}

.spmon-info {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
}

.spmon-info span {
    font-weight: 200;
    font-style: italic;
    margin-left: 3px;
}

.shiny-verif label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.input-section {
    display: flex;
    gap: 5px;
}

.bottom-busca {
    flex-direction: column;
    margin-top: 20px;
}

.spmon-erro {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ff8a8a;
}

/* Gerar pokémon styles */
.spmon-nome {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spmon-shiny {
    align-self: flex-end;
    color: gold;
    font-style: italic;
}

.gmon-bottom {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmon-pokeball {
    width: 50px;
    height: 50px;
}
















/* Footer styles */

.footer-container {
    background-color: #ffffff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.footer-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 10px;
}