/* Sections styles */

.sections {
    display: flex;
    margin: 0 auto;
    gap: 50px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    background-color: #444444;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Quiz styles */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin-bottom: 10px;
    gap: 40px;
    background-color: #1E1E1E;
    border-radius: 0px 0px 10px 10px;
}

.icon-quiz {
    width: 40px;
    height: 40px;
}

.section-title {
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-header-tempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.quiz-header-tempo-text {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.quiz-header-tempo-num {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-header-btn {
    color: #bb5544;
    background-color: #1E1E1E;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border-color: #bb5544;
}

.quiz-regras {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 70px;
    gap: 20px;
}

.quiz-regras-title {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-regras-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-regras-item {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

.middle-quiz-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.bottom-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-pokeball {
    width: 40px;
    height: 40px;
}

.bottom-quiz-iniciado {
    display: flex;
    align-items: center;
    gap: 90px;
}

.inativo {
    display: none;
}

.bottom-quiz-resposta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom-quiz-life {
    background-color: #bb5544;
    padding: 10px 20px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.quiz-bottom-life-title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-bottom-life {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
}

.section-input {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #1E1E1E;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.btn-quiz, .btn-reiniciar-quiz {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    background-color: #1E1E1E;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-resposta {
    background: none;
}

.middle-quiz-finalizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.quiz-finalizado-msg {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

.quiz-finalizado-streak {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}

.btn-pokeball {
    background: none;
    border: none;
    cursor: pointer;
}

.pokeball-btn {
    width: 35px;
    height: 35px;
}

/* Busca pokémon styles */
.header-busca {
    gap: 0;
    padding: 10px 5px;
}

.section-info {
    width: 15px;
    height: 15px;
}


.section-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 150;
    line-height: 16px;
    color: #ffffff;
    font-style: italic;
    width: 380px;
    text-align: center;
}

.section-middle, .section-middle-poke {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spmon-header, .gmon-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.spmon-img, .gmon-img {
    width: 400px;
    height: 400px;
}

.spmon-infos, .gmon-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    width: 350px;
}

.spmon-tipo, .gmon-tipo {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 3px 40px;
    border-radius: 50px;
}

.spmon-info, .gmon-info {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 18px;
}

.spmon-info span, .gmon-info span {
    font-weight: 200;
    font-style: italic;
    margin-left: 3px;
}

.infos-buscas {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.link-pokedex {
    color: #ffffff;

}

.infos-buscas-text {
    font-family: 'Inter', sans-serif;
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
    color: #ffffff;
}

.shiny-verif label {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.input-section {
    display: flex;
    gap: 5px;
}

.bottom-busca {
    flex-direction: column;
    margin-top: 20px;
}


.spmon-erro, .gmon-erro {
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #ff8a8a;
    opacity: 0;
}

/* Gerar pokémon styles */
.spmon-nome, .gmon-nome, .quiz-pokemon-nome {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.spmon-shiny, .gmon-shiny {
    align-self: flex-end;
    color: gold;
    font-style: italic;
}

.gmon-bottom {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gmon-pokeball {
    width: 50px;
    height: 50px;
}

.roda {
    animation: rodar 1s linear infinite;
    transition: transform 2s;
}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


/* Tipos styles */
.Fire {
    background-color: #ff4422;
}

.Normal {
    background-color: #aaaa99;
}

.Water {
    background-color: #3399ff;
}

.Electric {
    background-color: #ffcc33;
}

.Grass {
    background-color: #77cc55;
}

.Ice {
    background-color: #66ccff;
}

.Fighting {
    background-color: #bb5544;
}

.Poison {
    background-color: #aa5599;
}

.Ground {
    background-color: #ddbb55;
}

.Flying {
    background-color: #8899ff;
}

.Psychic {
    background-color: #ff5599;
}

.Bug {
    background-color: #aabb22;
}

.Rock {
    background-color: #bbaa66;
}

.Ghost {
    background-color: #6666bb;
}

.Dragon {
    background-color: #7766ee;
}

.Dark {
    background-color: #775544;
}

.Steel {
    background-color: #aaaabb;
}

.Fairy {
    background-color: #ee99ee;
}
















/* Footer styles */

.footer-container {
    background-color: #ffffff;
    padding: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-text {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.footer-link {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 10px;
}